.nav {
  display: flex;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0);
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  height: 9rem;
  width: 100%;
  padding: 0 6rem;
  z-index: 5;
}

.nav__logo {
  height: 9rem;
  transition: all 0.3s;
}

.nav_div {
  display: flex;
}
